.title {
    border-bottom: 3px solid #0e0e0f;
    display: inline-block;
    padding-bottom: 5px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;

    background: linear-gradient(to right, #fff9c4, #ffffff);
}

.main{
    width: 1000px;
    margin: auto;
}



h1 {
    font-size: 40px;
    color: #2c3e50;
}

p {
    color: #555;
}

.cards {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 25px 40px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: 0.2s;
    text-align: center;
}

.card i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #3498db;
}

.card:hover {
    background: #3498db;
    color: white;
    transform: translateY(-5px) scale(1.05);
}

.card:hover i {
    color: white;
}

.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    max-width:1000px;
    margin:80px auto;
}

.logo-title{
    display:flex;
    align-items:center;
    gap:10px;
}

lottie-player{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 320px;
    height: 320px;
}

.hero-text h1 {
    font-size: 48px;
    color: #2c3e50;
}

.hero-text p {
    font-size: 18px;
    color: #555;
}

.upload-container{
    text-align:center;
    margin:120px auto;
    width:400px;
    background:rgb(230, 227, 227);
    padding:40px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.upload-container h2{
    font-size: 40px;
}

.upload-container button{
    font-size: 18px;
    padding: 15px 25px;
}

.upload-container a{
    font-size: 18px;
}   
li{
    margin: 10px 0;
}
.download-btn{
    margin-left: 30px;
}
.delete-btn{
    margin-left: 20px;
    color: red;
}